#logo {
	float: left;
}

.navbar {
	margin-bottom: 50px;
	background-color: #f3fdac;
}

.navbar-brand {
	padding-top: 15px;
	height: 60px;
	line-height: 65px;
	margin-bottom: 30px;
	font-size: 30px;
}