
.about {
    text-align: center;
}

html {
    box-sizing: border-box;
    height: 100%;
    margin: 0;
    padding: 0;
}

.axis path, .axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}
a:focus, a:hover {
    color: #23527c;
    text-decoration: none;
    border-bottom: 2px solid;
}

body {
    height: 100%;
	margin: 0;
	padding: 0;
}
.categories {
    background-color: #d2d3d4;
    padding-bottom: 10px;
}
.categories > h4 {
    margin-top: 0;
    padding: 7px 0 0 15px;
    color: #337ab7;
}

ul {
    list-style: none;
}
.categories > ul {
    list-style: none;
    padding:0;
    margin:0;
}
.categories > ul > li {
    padding-left: 3em;
    text-indent: -.7em;
}

.categories > ul > li::before {
  content: "• ";
  color: #337ab7; /* or whatever color you prefer */
}
.chart {
    margin: 0 auto;
}
.chart div {
    margin-top: 1px;
    background: #4682b4;
}
.chart-title{
    position:relative;
    top: 0;
    text-align: center;
}
.chart-wrapper{
    margin-top: 10px;
}
.container {
    padding: 0;
}
.dropdown-menu>li>a {
    color: #547abc;
    display: inline-block;
}

.dropdown-menu>li>a:focus, .dropdown-menu>li>a:hover {
    color: #23527c;
    text-decoration: none;
    border-bottom: 2px solid steelblue;
    background: 0;
}

footer {
	background: #a4ddf1;
	bottom: 0;
	clear: both;
	height: 80px;
	padding: 0px 15px;
	position: absolute;
	width: 100%;
}

#footer-heading {
    line-height: 40px;
    margin-bottom: 0;
    padding-top: 20px;
}

.nav>li>a {
    display: inline-block;
}
.nav>li>a:focus, .nav>li>a:hover, .nav .open>a, .nav .open>a:focus, .nav .open>a:hover {
    background-color: #a4ddf1;
    border-bottom: 2px solid steelblue;
}
.navbar {
    background: #a4ddf1;
    margin-bottom: 0;
}
.navbar-brand {
    height: 107px;
}
.navbar-toggle {
    border: 1px solid steelblue;
}
.navbar-toggle .icon-bar {
    background: steelblue;
}

rect {
    fill: steelblue;
}
row {
    display: flex;
    float: left;
}
.second-table {
    margin-top: 40px;
}
.screen-name {
    font-weight: bold;
    margin-bottom: 0;
}
.standings {
    text-align: center;
}
.standings-child {
    margin: 5px auto 0 auto;
}
.last-child {
    margin-bottom: 5px;
}

#standings-img-top {
    margin: 5px 0 5px 25px;
}
#standings-img-bottom {
    margin-top: 5px;
}
table {
    background-color: #e8eef9;
    border: 1px solid white;
    margin-bottom: 10px;
    width:350px;
}

th, td {
    border: 1px solid white;
    padding: 10px;
}
#trivia {
    margin-bottom: 20px;
}
.trivia {
    margin: 30px;
}
.tweet {
    margin-bottom: 60px;
}
.tweet-img {
    float: left;
    margin: 0 10px 10px 0;
    border-radius: 50px;
}

.trivia-btn{
    width: 200px;
    margin: 5px;
    webkit-box-shadow: -5px 5px 5px #888888;
    -moz-box-shadow: -5px 5px 5px #888888;
    box-shadow: -5px 5px 5px #888888;

}
#welcome {
    text-align: center;
    margin-bottom: 40px;
}

.wrapper {
      min-height: 100%;
      height: auto !important;
      height: 100%;
      margin: 0 auto -80px; /* the bottom margin is the negative value of the footer's height */
      position: relative;
      padding-bottom: 80px;
}

@media (min-width: 768px){
    .categories {
        padding: 20px 0 10px 0;
        min-width: 160px;
        box-shadow: 5px 0px 15px -2px #888888;
    }
    .categories > ul > li:first-child {
        border-top: 1px solid #9aa5ad;
    }
    .categories > ul > li::before {
        content: "";
        color: #337ab7; /* or whatever color you prefer */
    }
    .categories > ul > li:focus, .categories > ul >li:hover {
        background: #36454F;
        color: white;
    }
    .categories > ul > li:focus, .categories > ul > li:hover > a {
        color: white;
    }
    .categories > ul > li {
        padding: 5px 0 5px 0;
        text-indent: -.7em;
        border-bottom: 1px solid #9aa5ad;
    }
    .categories > ul > li > a
    {
        display: block;
        padding-left: 3em;
    }
    .categories > ul > li > a:focus, .categories > ul > li > a:hover {
        border-bottom: 0;
    }
    .container {
        padding: 0;
        margin-left: 0;
        height: 840px;
        width: 100%;
    }
    .container-fluid {
        height: 100%;
    }

    .row {
        display: flex;
        align-items: stretch;
        width: 100%;
        height: 100%;
    }
    .tweet-text {
        width: 90%;
    }
    #footer-heading {
        margin: 0;
        padding: 20px 0;
    }
    .dropdown-menu>li>a {
        display: block;
    }
    .dropdown-menu>li>a:focus, .dropdown-menu>li>a:hover{
        background-color: #ddeefb;
        border: 0;
        color: #23527c;
    }
    .nav>li>a:focus, .nav>li>a:hover, .nav .open>a, .nav .open>a:focus, .nav .open>a:hover {
    background-color: #a4ddf1;
    border-bottom: 2px solid steelblue;
    }
    .navbar {
        border-radius: 0;
    }
    .navbar-right {
        padding-top: 28px;
    }
    .trivia {
        margin: 0 auto;
    }
}

@media (min-width: 1050px) {

}