{% extends "layout.html" %}
{% block content %}
   <div>
       <h2 id="welcome">About</h2>
       <p class="about">NFL Endzone is a site I created to share my passion of football.</p>
       <p class="about">I'm an avid Baltimore Ravens fan, and I have been since their Inaugural season in 1996.
       <p class="about">I was blessed to be able to go to their home games for their first four seasons.</p>
       <p class="about">I hope you enjoy all of the football stats, trivia, and tweets on this site</p>
   </div>
{% endblock %}