{% extends "layout.html" %}
{% block content %}
 <div  id="outer" class="container-fluid">
    <div class="row">
       <div class="categories col-sm-2">
           <h4>Offense</h4>
           <ul>
               <li><a href="/total-offense">Total Yds/G</a></li>
               <li><a href="/team-passing">Passing Yds/G</a></li>
               <li><a href="/team-rushing">Rushing Yds/G</a></li>
               <li><a href="/team-receiving">Receiving Yds/G</a></li>
           </ul>
           <h4>Defense</h4>
           <ul>
               <li><a href="/total-defense">Total Allowed Yds/G</a></li>
               <li><a href="/passing-allowed">Passing Allowed Yds/G</a></li>
               <li><a href="/rushing-allowed">Rushing Allowed Yds/G</a></li>
               <li><a href="/receiving-allowed">Receiving Allowed Yds/G</a></li>
           </ul>
           <h4>Fans</h4>
           <ul>
               <li><a href="/fans-avg">Fans Per Game</a></li>
               <li><a href="/fans-total">Fans Season Total </a></li>
           </ul>
       </div>
      <div id="defense-team-receiving-chart" class="col-sm-8"></div>
    </div>
</div>

{% endblock %}