{% extends "layout.html" %}
{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="categories col-sm-2">
           <h4>Offense</h4>
           <ul>
               <li><a href="/individual">Passing</a></li>
               <li><a href="/rushing">Rushing</a></li>
               <li><a href="/receiving">Receiving</a></li>
           </ul>
           <h4>Defense</h4>
           <ul>
               <li><a href="/tackles">Tackles</a></li>
               <li><a href="/sacks">Sacks</a></li>
               <li><a href="/interceptions">Interceptions</a></li>
           </ul>
       </div>
        <div id="receiving-chart" class="col-sm-10"></div>

    </div>
</div>
{% endblock %}