{% extends "layout.html" %}
{% block content %}
    <div class="row">
        <div class="col-md-4 standings"><img class="standings-child" id="standings-img-top" src={{ url_for ('static', filename='images/ravens-bengals.jpg')}} alt="Eagles Hit" height="300" width="300"> </div>
        <div class="col-md-4 standings">
          <table class="standings-child">
       <tr>
           <th colspan="4"><img src={{ url_for ('static', filename='images/AFC.svg')}} alt="American Football Conference" height="24" width="24"> American Football Conference</th>
       </tr>
       <tr>
           <th>AFC East Teams</th>
           <th>Wins</th>
           <th>Losses</th>
           <th>Ties</th>
       </tr>
        <tr>
           <td><img src={{ url_for ('static', filename='images/NE.svg')}} alt="New England Patriots" height="24" width="24"> Patriots</td>
           <td>13</td>
           <td>3</td>
           <td>0</td>
        </tr>
       <tr>
           <td><img src={{ url_for ('static', filename='images/BUF.svg')}} alt="Buffalo Bills" height="24" width="24"> Bills</td>
           <td>9</td>
           <td>7</td>
           <td>0</td>
       </tr>
       <tr>
           <td><img src={{ url_for ('static', filename='images/MIA.svg')}} alt="Miami Dolphins" height="24" width="24"> Dolphins</td>
           <td>6</td>
           <td>10</td>
           <td>0</td>
       </tr>
       <tr>
           <td><img src={{ url_for ('static', filename='images/NYJ.svg')}} alt="New York Jets" height="24" width="24"> Jets</td>
           <td>5</td>
           <td>11</td>
           <td>0</td>
       </tr>
    </table>
    <table class="standings-child">
       <tr>
           <th>AFC North Teams</th>
           <th>Wins</th>
           <th>Losses</th>
           <th>Ties</th>
       </tr>
        <tr>
           <td><img src={{ url_for ('static', filename='images/PIT.svg')}} alt="Pittsburgh Steelers" height="24" width="24"> Steelers</td>
           <td>13</td>
           <td>3</td>
           <td>0</td>
        </tr>
       <tr>
           <td><img src={{ url_for ('static', filename='images/BAL.svg')}} alt="Baltimore Ravens" height="24" width="24"> Ravens</td>
           <td>9</td>
           <td>7</td>
           <td>0</td>
       </tr>
       <tr>
           <td><img src={{ url_for ('static', filename='images/CIN.svg')}} alt="Cincinnati Bengals" height="24" width="24"> Bengals</td>
           <td>7</td>
           <td>9</td>
           <td>0</td>
       </tr>
       <tr>
           <td><img src={{ url_for ('static', filename='images/CLE.svg')}} alt="Cleveland Browns" height="24" width="24"> Browns</td>
           <td>0</td>
           <td>16</td>
           <td>0</td>
       </tr>
    </table>
    <table class="standings-child">
       <tr>
           <th>AFC South Teams</th>
           <th>Wins</th>
           <th>Losses</th>
           <th>Ties</th>
       </tr>
        <tr>
           <td><img src={{ url_for ('static', filename='images/JAX.svg')}} alt="Jacksonville Jaguars" height="24" width="24"> Jaguars</td>
           <td>10</td>
           <td>6</td>
           <td>0</td>
        </tr>
       <tr>
           <td><img src={{ url_for ('static', filename='images/TEN.svg')}} alt="Tennessee Titans" height="24" width="24"> Titans</td>
           <td>9</td>
           <td>7</td>
           <td>0</td>
       </tr>
       <tr>
           <td><img src={{ url_for ('static', filename='images/IND.svg')}} alt="Indianapolis Colts" height="24" width="24"> Colts</td>
           <td>4</td>
           <td>12</td>
           <td>0</td>
       </tr>
       <tr>
           <td><img src={{ url_for ('static', filename='images/HOU.svg')}} alt="Houston Texans" height="24" width="24"> Texans</td>
           <td>4</td>
           <td>12</td>
           <td>0</td>
       </tr>
    </table>
    <table class="standings-child">
       <tr>
           <th>AFC West Teams</th>
           <th>Wins</th>
           <th>Losses</th>
           <th>Ties</th>
       </tr>
        <tr>
           <td><img src={{ url_for ('static', filename='images/KC.svg')}} alt="Kansas City Chiefs" height="24" width="24"> Chiefs</td>
           <td>10</td>
           <td>6</td>
           <td>0</td>
        </tr>
       <tr>
           <td><img src={{ url_for ('static', filename='images/LAC.svg')}} alt="Los Angeles Chargers" height="24" width="24"> Chargers</td>
           <td>9</td>
           <td>7</td>
           <td>0</td>
       </tr>
       <tr>
           <td><img src={{ url_for ('static', filename='images/OAK.svg')}} alt="Oakland Raiders" height="24" width="24"> Raiders</td>
           <td>6</td>
           <td>10</td>
           <td>0</td>
       </tr>
       <tr>
           <td><img src={{ url_for ('static', filename='images/DEN.svg')}} alt="Denver Broncos" height="24" width="24"> Broncos</td>
           <td>5</td>
           <td>11</td>
           <td>0</td>
       </tr>
    </table>
    <!-- End American Football conference -->

    <table class="standings-child">
       <tr>
           <th colspan="4"><img src={{ url_for ('static', filename='images/NFC.svg')}} alt="National Football Conference" height="24" width="24"> National Football Conference</th>
       </tr>
       <tr>
           <th>NFC East Teams</th>
           <th>Wins</th>
           <th>Losses</th>
           <th>Ties</th>
       </tr>
        <tr>
           <td><img src={{ url_for ('static', filename='images/PHI.svg')}} alt="Philadelphia Eagles" height="24" width="24"> Eagles</td>
           <td>13</td>
           <td>3</td>
           <td>0</td>
        </tr>
       <tr>
           <td><img src={{ url_for ('static', filename='images/DAL.svg')}} alt="Dallas Cowboys" height="24" width="24"> Cowboys</td>
           <td>9</td>
           <td>7</td>
           <td>0</td>
       </tr>
       <tr>
           <td><img src={{ url_for ('static', filename='images/WAS.svg')}} alt="Washington Redskins" height="24" width="24"> Redskins</td>
           <td>7</td>
           <td>9</td>
           <td>0</td>
       </tr>
       <tr>
           <td><img src={{ url_for ('static', filename='images/NYG.svg')}} alt="New York Giants" height="24" width="24"> Giants</td>
           <td>3</td>
           <td>13</td>
           <td>0</td>
       </tr>
    </table>
    <table class="standings-child">
       <tr>
           <th>NFC North Teams</th>
           <th>Wins</th>
           <th>Losses</th>
           <th>Ties</th>
       </tr>
        <tr>
           <td><img src={{ url_for ('static', filename='images/MIN.svg')}} alt="Minnesota Vikings" height="24" width="24"> Vikings</td>
           <td>13</td>
           <td>3</td>
           <td>0</td>
        </tr>
       <tr>
           <td><img src={{ url_for ('static', filename='images/DET.svg')}} alt="Detroit Lions" height="24" width="24"> Lions</td>
           <td>9</td>
           <td>7</td>
           <td>0</td>
       </tr>
       <tr>
           <td><img src={{ url_for ('static', filename='images/GB.svg')}} alt="Green Bay Packers" height="24" width="24"> Packers</td>
           <td>7</td>
           <td>9</td>
           <td>0</td>
       </tr>
       <tr>
           <td><img src={{ url_for ('static', filename='images/CHI.svg')}} alt="Chicago Bears" height="24" width="24"> Bears</td>
           <td>5</td>
           <td>11</td>
           <td>0</td>
       </tr>
    </table>
    <table class="standings-child">
       <tr>
           <th>NFC South Teams</th>
           <th>Wins</th>
           <th>Losses</th>
           <th>Ties</th>
       </tr>
        <tr>
           <td><img src={{ url_for ('static', filename='images/NO.svg')}} alt="New Orleans Saints" height="24" width="24"> Saints</td>
           <td>11</td>
           <td>5</td>
           <td>0</td>
        </tr>
       <tr>
           <td><img src={{ url_for ('static', filename='images/CAR.svg')}} alt="Carolina Panthers" height="24" width="24"> Panthers</td>
           <td>11</td>
           <td>5</td>
           <td>0</td>
       </tr>
       <tr>
           <td><img src={{ url_for ('static', filename='images/ATL.svg')}} alt="Atlanta Falcons" height="24" width="24"> Falcons</td>
           <td>10</td>
           <td>6</td>
           <td>0</td>
       </tr>
       <tr>
           <td><img src={{ url_for ('static', filename='images/TB.svg')}} alt="Tampa Bay Buccaneers" height="24" width="24"> Buccaneers</td>
           <td>5</td>
           <td>11</td>
           <td>0</td>
       </tr>
    </table>
    <table class="standings-child">
       <tr>
           <th>NFC West Teams</th>
           <th>Wins</th>
           <th>Losses</th>
           <th>Ties</th>
       </tr>
        <tr>
           <td><img src={{ url_for ('static', filename='images/LA.svg')}} alt="Los Angeles Rams" height="24" width="24"> Rams</td>
           <td>11</td>
           <td>5</td>
           <td>0</td>
        </tr>
       <tr>
           <td><img src={{ url_for ('static', filename='images/SEA.svg')}} alt="Seattle Seahawks" height="24" width="24"> Seahawks</td>
           <td>9</td>
           <td>7</td>
           <td>0</td>
       </tr>
       <tr>
           <td><img src={{ url_for ('static', filename='images/ARI.svg')}} alt="Arizona Cardinals" height="24" width="24"> Cardinals</td>
           <td>8</td>
           <td>8</td>
           <td>0</td>
       </tr>
       <tr>
           <td><img src={{ url_for ('static', filename='images/SF.svg')}} alt="San Francisco 49ers" height="24" width="24"> 49ers</td>
           <td>6</td>
           <td>10</td>
           <td>0</td>
       </tr>
    </table>
        </div>
        <div class="col-md-4 standings"><img class="standings-child" id="standings-img-bottom" src={{ url_for ('static', filename='images/chiefs-stiff-arm.jpg')}} alt="Chiefs Stiff Arm" height="300" width="300"> </div>
    </div> <!--end row -->

{% endblock %}